<form action="/create" method="POST">
    제목입력: <input type="text" name="title" placeholder = "제목"><br/><br/><br/>
    내용입력: <textarea name="contents" placeholder = "본문"></textarea><br/><br/>
    <input type="submit" value="등록하기">
</form>